@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --cor-de-fundo: #1E1E1E;
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: hsl(0, 4%, 95%);
}
body{
    background-color: var(--cor-de-fundo);
    color:(--branco);
    font-family: 'chackra petch',sans-serif;
}